.idea
learn-express/uploads
learn-express/.env
learn-sequelize/.env
learn-sequelize/config/config.json
learn-mongoose/.env
nodebird/.env
nodebird/config/config.json
nodebird/node_modules
nodebird/uploads
nodebird-api/.env
nodebird-api/config/config.json